{
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "quotes": [1, "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "semi": [1, "never"],
    "camelcase": [1, { "properties": "always" }],
    "block-spacing": [1, "always"],
    "brace-style": 1,
    "comma-dangle": [1, "never"],
    "comma-spacing": [1, { "before": false, "after": true }],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "func-call-spacing": [1, "never"],
    "key-spacing": [1, { "beforeColon": false }],
    "indent": 1,
    "no-trailing-spaces": 1,
    "arrow-spacing": 1,
    "no-unused-vars": 1,
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "extends": "eslint:recommended"
}
