.comp-identity {

  .comp-body {
    padding: 0 1rem 1rem 1rem;

    .identity-main {
      padding: 1rem 0;

      .identity-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10rem;
        height: 10rem;

        .st0 {
          fill: #f49e77;
        }
        .st1 {
          fill: #d98968;
        }
        .st2 {
          fill: #f8c09c;
        }
        .st3 {
          fill: #d98968;
          stroke: #d98a68;
          stroke-miterlimit: 10;
        }
        .st4 {
          fill: #010202;
        }
        .st5 {
          fill: #221e1f;
        }
        .st6 {
          fill: #111110;
        }
      }

      .identity-essential {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          font-weight: bold;
          font-size: 1.4rem;
          line-height: 140.62%;
          margin: 0 0 1rem 0;
        }

        .identity-sub-essential {
          p {
            font-weight: 300;
            font-size: 0.9rem;
            line-height: 140.62%;
            margin: 0;
          }
        }
      }
    }

    .identity-section {

      h3 {
        font-weight: 600;
        font-size: .8rem;
        line-height: 140.62%;
        text-transform: uppercase;
        margin: 0.3rem 0;
      }

      .identity-subinformation {
        border-bottom: 1px solid;
        padding: 0.5rem 0;
        margin: 0 0.4rem;

        .identity-section-key {
          font-size: 0.7rem;
          font-weight: 600;
          line-height: 1.1rem;
        }
        
        .identity-section-value {
          font-size: 0.7rem;
          font-weight: 300;
          line-height: 1.1rem;
        }
      }
    }

    .identity-section:nth-child(3){
      margin-top: 1.5rem;
    }
  }
}
