// @variables
$bg-comp-header: #242C38;
$bg-comp-body: #191F28;

// @layout
.comp-weather {
    color: white;
    width: 30%;

    .comp-header {
        background-color: $bg-comp-header;
        padding: 0.25rem 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
        font-weight: 600;
        font-size: 1rem;
        line-height: 140.62%;
    }

    .comp-body {
        background-color: $bg-comp-body;
        padding: 1rem 1rem;
        border-radius: 0 0 0.5rem 0.5rem;

        .info-weather {
            position: relative;
            
            .message {
                font-weight: 300;
                font-size: 0.9rem;
                text-align: center;
                position: absolute;
                width: 100%;

                p {
                    margin: auto;
                    padding : 0.5rem;
                }
            }

            .illustration {
                .st0 {fill:url(#SVGID_1_);}
                .st1 {fill:url(#Plan3_1_);}
                .st2 {fill:url(#Plan2_1_);}
                .st3 {fill:url(#Plan1_1_);}
            }

            .logo {
                display: flex;
                justify-content: center;
                padding-top: 0.7rem;

                .st4 {fill:#F0F0F0;}
                .st5 {fill:#F8CCE1;}
                .st6 {fill:#00A2E4;}
                .st7 {fill:#5BB030;}
                .st8 {fill:#FCBB0A;}
                .st9 {fill:#E7302A;}

                .alert {
                    width: 100%;
                    max-width: 1.4rem;
                    margin-left: 4px;
                    margin-right: 4px;
                }

            }
        }
    }
}
