// @variables

$font-stack: "Open Sans", sans-serif;
$font-color: #f0f0f0;
$bg-blue-1: #0e131a;
$bg-blue-2: #191f28;
$bg-blue-3: #242c38;

/*------------------------------
Global
------------------------------*/

html {
  font-size: 20px;
}

body {
  margin: 0;
  background-color: $bg-blue-1;
  color: $font-color;
  font: 1rem $font-stack;
}

#heroWindow {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.svg-content {
  width: 100%;
  height: 100%;
}

// @resize

@media only screen and (max-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
}