// @variables

$font-stack: "Open Sans", sans-serif;
$font-color: #f0f0f0;
$bg-board: #0e131a;
$bg-comp-header: #242c38;
$bg-comp-body: #191f28;

// @layout

/*------------------------------
Global
------------------------------*/

body {
  height: 100%;
  margin: 0;
  background-color: $bg-board;
  color: $font-color;
  font: 1rem $font-stack;
}

#heroWindow {
  height: 100vh;
  min-height: 600px;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.vertical-align {
  display: flex;
  align-items: center;
}

// @resize

@media only screen and (max-width: 64em) {
  #board {
    flex-direction: row;
    height: auto;

    .comp {
      width: 100%;
      min-height: 300px;
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
