header {
  padding: 0.7rem 1rem;
  .logo-league {

    .bg-league {
      fill: #181F29;
    }

    .stroke-league {
      fill: none;
      stroke: #10151B;
      stroke-width: 8;
      stroke-miterlimit: 10;
    }

    .grey-league {
      fill: #D1D1D1;
    }
  }

  background: #191F28;
  border: 1px solid #242C38;
  height: 4rem;

  .header-profile {
    p {
      color: #F0F0F0;
      text-align: right;
      width: 100%;
      font-size: 0.9rem;

      strong {
        color: #ffbb00;
        text-indent: 5px;
        font-weight: 600;
      }
    }
  }

  .img-hero {
    clip-path: circle();
    background-position: center;
    background-size: contain;

  }

  #list-hero {
    background: #0E131A;
    font-family: "Open-sans", sans-serif;
    font-size: 0.7rem;
    color: #F0F0F0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: 1px solid #0E131A;
    outline-offset: -1px;
    height: 70%;
    width: 100%;

    option {
      border-radius: 0;
    }


  }


}


