// @variables
$font-color: #f0f0f0;
$bg-blue-1: #0e131a;
$bg-blue-2: #191f28;
$bg-blue-3: #242c38;

/*------------------------------
Header
------------------------------*/

header {
  position: relative;
  align-items: center;
  padding: 0.5rem 0.2rem;
  height: 3.5rem;
  background: $bg-blue-2;
  border-bottom: 1px solid $bg-blue-3;

  .header-logoselect {
    display: flex;
    align-items: center;

    .header-logo {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      max-width: 200px;

      .bg-league {
        fill: #181f29;
      }

      .stroke-league {
        fill: none;
        stroke: #10151b;
        stroke-width: 8;
        stroke-miterlimit: 10;
      }

      .grey-league {
        fill: #d1d1d1;
      }
    }

    #list-hero {
      background: $bg-blue-1;
      font-family: "Open-sans", sans-serif;
      font-size: 0.7rem;
      color: $font-color;
      border: none;
      border-radius: 0;
      outline: 1px solid $bg-blue-3;
      outline-offset: -1px;
      height: 1.5rem;
      width: 100%;
      max-width: 250px;
      padding-left: 2px;

      option {
        border-radius: 0;
      }
    }
  }

  .header-profileimg {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-profile {

      p {
        color: $font-color;
        text-align: right;
        flex: 1 0;
        font-size: 0.9rem;
        margin: 0 1rem 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        strong {
          color: #ffbb00;
          text-indent: 5px;
          font-weight: 600;
        }
      }
    }

    .header-img {
      flex: 0 0 40px;
      clip-path: circle();
      background-position: center;
      background-size: contain;
      width: 40px;
      height: 40px;
    }
  }

}

/*------------------------------
Footer
------------------------------*/

footer {
  background: #191F28;
  border-top: 1px solid $bg-blue-3;

  a {
    width: 100%;
    font-weight: 300;
    font-size: 0.7rem;
    color: $font-color;
    text-decoration: none;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .header-profile {
    display: none;
  }

  #list-hero {
    text-align-last: center;
  }
}